body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
    margin-top: 20px;
}

#container {
    margin: 0 auto;
    padding: 20px;
    width: 1000px;
    height: 500px;
    border: 5px solid rgb(255, 102, 0);
    background-color: rgb(255, 201, 164);
}

#highscores {
    color:rgb(255, 102, 0);
}
#currentTime {
    float: right;
}

#startTime {
    background-color: rgb(255, 102, 0);
    color: black;
    margin: 50px;
    padding: 10px 20px;
    font-size: 20px;
}

#quizDiv {
    margin-top: 100px;
    margin-left: 100px;
}
